@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: #1F2937;
    transition: 500ms;
    /* overflow-x: hidden; */
}
body{
    /* overflow: hidden; */
}
.nav-var-expain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-var-expain .navbar-nava{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
.nav-var-expain .navbar-nava li{
    /* height: 3rem; */
    text-align: center;
    align-items: center;
}
.nav-var-expain .navbar-nava li a{
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}
.navbar-toggler{
    display: none;
}
.collapse{
    visibility: visible;
    justify-content: flex-end;
}
.navbar{
    font-size: 2vh;
}
.nav-item{
    margin: 0 1rem;
    color: #1F2937;
    transition: 500ms;
    border-radius: 10px;
    width: 10rem;
    text-align: center;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
    }
}
.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-in-out;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
    }
}
.dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
    position: absolute;
    background-color: white; /* o como lo tengas */
    z-index: 999;
}
.nav-link{
    color: #1F2937;
    border-radius: 5px;
    transition: 500ms;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
    }
}
.navbar-blue{
    background: #3ABEFF;
    border-radius: 5px;
    width: 13rem;
    height: 2.5rem;
    display: grid;
    text-align: center;
    transition: 500ms;
    box-shadow: 2px 2px 0px 0px #B388EB;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
    }
}
.iconsLogo{
    width: 5vh;
}
/*  */
.btn-flotante {
	position: fixed;
	bottom: 50px;
	right: 30px;
	transition: all 300ms ease 0ms;
	z-index: 100;
    animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
    box-shadow: 0 0 0 0 #27d367;
    border-radius: 50%;
    transition:     .3s ease-in-out;
}
.btn-flotante img{
    width: 70px;
}
.btn-flotante img:hover {
    border-radius: 50%;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.3);
    transition:     .3s ease-in-out;
}
@keyframes pulse{
    100% {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0.01);
    }
}
/*  */
footer{
    background: #FF6B6B;
    font-size: 1.7vh;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
    color: #FFFFFF;
}
.footer-info{
    display: grid;
}
.footer-info > .footer-icons{
    display: flex;
    padding: 0 0;
    justify-content: space-between;
    align-items: center;
}
.footer-icons > a{
    padding: 0 1rem;
    width: 10vh;
    &:hover{
        transform: scale(1.05);
    }
}
.footer-sitios{
    display: flex;
    color: #FFFFFF;
}
.footer-sitio{
    display: grid;
    color: #FFFFFF;
    width: 12rem;
}
.footer-sitio > a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.5vh;
    &:hover{
        text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
    }
}
.first-seccion{
    display: flex;
    margin: 5rem;
    padding: 5rem 2rem;
    width: 95%;
    justify-self: center;
    justify-content: space-around;
    overflow: hidden;
}
.seccion-img-perfil{
    justify-content: center;
    display: flex;
    justify-items: center;
    justify-self: center;
    align-items: center;
    width: 40%;
}
.seccion-img-perfil > img{
    padding: 0rem;
    border-radius: 15px;
    width: 50%;
    justify-self: center;
    box-shadow: 3px 3px 7px 1px #1F2937 ;
}
.seccion-info-perfil{
    width: 50%;
    padding: 2rem 1rem;
    color: #1F2937;
}
.seccion-info-perfil > h2{
    text-align: center;
    color: #1F2937;
    font-size: 5vh;
}
.seccion-info-perfil > p{
    font-size: 2vh;
    font-weight: 600;
    margin: 1rem 0;
}
.carousel{
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
}
.carousel-inner{
    justify-self: center;
    justify-items: center;
    align-items: center;
    width: 90%;
    border-radius: 25px;
}
.carousel-item{
    height: 40vh;
}
.carousel-caption{
    color: #FFFFFF;
    border: 1px solid #10151A;
    background: #1f2937d5;
    border-radius: 30px;
}
.carousel-caption h2{
    font-size: 6vh;
}
.carousel-caption p{
    font-size: 3vh;
    color: #FFFFFF;
}
.seccion-icons{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;    
}
.seccion-icons > a{
    padding: 0.5rem; 
    width: 50%;
    color: #1F2937;
    text-decoration: none;
    font-weight: 500;
}
.desarrollos{
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    column-gap: 3rem;
}
.desarrollos > h1, .desarrollos > h2{
    font-size: 5vh;
    width: 90%;
    display: grid;
    text-align: center;
    justify-self: center;
    justify-content: center;
    margin: 6rem 0;
}
.desarrollos > h2{
    width: 80%;
}
.desarrollos img{
    width: 30%;
    margin: 3rem 0;
    border-radius: 15px;
    justify-self: center;
    box-shadow: 3px 3px 7px 1px #1F2937 ;
}
.carts-div{
    display: grid;
    max-width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    padding: 2rem;
    justify-items: center;
    justify-self: center;
}
.carts{
    display: grid;
    width: 20rem;
    border-radius: 25px;
    border: 1px solid #FF6B6B;
    box-shadow: 2px 3px 5px 1px #B388EB;
    color: #1F2937;
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0px 10px 5px 1px #FF6B6B;
        background: #B388EB;
        color: #FFFFFF;
    }
}
.carts > img{
    width: 90%;
}
.carts > h2{
    text-align: center;
    font-size: 2.5vh; 
}
.carts > p{
    padding: 1rem;
}
.carts > a{
    text-decoration: none;
    color: #1F2937;
    width: 65%;
    height: 2.5rem;
    display: grid;
    justify-self: center;
    align-items: center;
    justify-items: center;
    margin: 0.9rem;
    background: #3ABEFF;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    transition: 500ms;
    box-shadow: 2px 2px 0px 0px #B388EB;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
        transform: translate(2px, 3px);
    }
}
.planes{
    background: #B388EB;
    color: #1F2937;
    text-align: center;
    padding: 2rem;
}
.background-sin{
    background: #b388eb00 !important;
    color: #FFFFFF !important; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.background-imag{
    background-image: url('/img/tuDesarrollo.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    mask-repeat: no-repeat;
    mask-size: cover;
}
.background-imag h3{
    color: #fff; /* asegura contraste */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* sombra negra difusa */
}
.planes > .carts-div{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 4rem;
    padding: 0rem;
    justify-items: center;
    justify-self: center;
}
.planes > h3{
    font-size: 4.5vh;
    padding: 1rem;
}
.cartTipUno{
    display: grid;
    width: 65%;
    border: 1px solid #FF6B6B;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 1.5rem;
    color: #1F2937;
    transition: 500ms;
    &:hover{
        box-shadow: 1px 11px 5px 1px #3ABEFF;
        transform: translateY(-20px);
        transition: 500ms;
    }
}
.cartTipUno > h2{
    font-size: 3.5vh;
}
.cartTipoPrecio{
    display: flex;
    justify-content: center;
}
.cartTipoPrecio > p{
    font-size: 4.5vh;
}
.cartTipoPrecio > span{
    font-size: 1.5vh;
}
.cartTipoLista > ul, .cartTipoListaB > ul{
    justify-items: baseline;
    list-style: inside;
    text-align: left;
    font-size: 1.7vh;
}
.cartTipUno > a{
    text-decoration: none;
    color: #1F2937;
    width: 43%;
    height: 2.5rem;
    display: grid;
    justify-self: center;
    align-items: center;
    justify-items: center;
    margin: 0.9rem;
    background: #3ABEFF;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    transition: 500ms;
    box-shadow: 2px 2px 0px 0px #B388EB;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
        transform: translate(2px, 3px);
    }
}
.cartTipDos{
    display: grid;
    width: 70%;
    border: 1px solid #1F2937;
    border-radius: 15px;
    padding: 1.5rem;
    background: #FF6B6B;
    color: #FFFFFF;
    transition: 500ms;
    &:hover{
        box-shadow: 1px 11px 5px 1px #1F2937;
        transform: translateY(-20px);
        transition: 500ms;
    }
}
.cartTipDos > h2{
    font-size: 4vh;
}
.cartTipDos > p{
    color: #FFFFFF;
}
.cartTipDos > .cartTipoPrecio > p, .cartTipDos > .cartTipoPrecio > p > b, .cartTipDos > .cartTipoPrecio > span {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.cartTipoListaB > ul > li{
    color: #FFFFFF;
}
.cartTipDos > a{
    text-decoration: none;
    color: #1F2937;
    width: 43%;
    height: 2.5rem;
    display: grid;
    justify-self: center;
    align-items: center;
    justify-items: center;
    margin: 0.9rem;
    background: #3ABEFF;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    transition: 500ms;
    box-shadow: 2px 2px 0px 0px #1F2937;
    &:hover{
        background: #B388EB;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
        transform: translate(2px, 3px);
    }
}
.secForm{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
.background-imag-contac{
    background-image: url('/img/desarrollos.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    mask-repeat: no-repeat;
    mask-size: cover;
}
.background-imag-contac h3{
    color: #fff; /* asegura contraste */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* sombra negra difusa */
}
.formulario{
    width: 90%;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 2rem;
    background: #ffffff78;
}
.formulario > h2{
    text-align: center;
    color: #1F2937;
    font-size: 5vh;
    margin: 1rem 0;
}
form{
    width: 100%;
}
form > .formulario-div{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    justify-items: center;
    justify-self: center;
}
.inpud-datos{
    width: 100%;
}
.inpud-datos > input, .inpud-select > select{
    border: 1px solid #1F2937;
    border-radius: 10px;
    height: 2.2rem;
    width: 100%;
}
.inpud-text{
    display: grid;
    width: 73%;
}
.inpud-text > textarea{
    border: 1px solid #1F2937;
    border-radius: 10px;
    height: 5rem !important;
}
.formulario-buton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-buton > button{
    display: flex;
    text-decoration: none;
    color: #1F2937;
    background: #3ABEFF;
    border-radius: 10px;
    width: 32%;
    height: 2.5rem;
    justify-self: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 0.2rem;
    margin: 0.9rem;
    box-shadow: 2px 3px 5px 1px #1F2937;
    &:hover{
        box-shadow: 0px 0px 0px 0px;
        transform: translate(2px, 3px);
    }
}
.form-control1{
    appearance: none;
    -webkit-appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    margin: 1rem;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
} 
.contac-formul-div-politics{
    display: flex;
    align-items: center;
}
.form-control1:checked::after {
    content: '✔';
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 16px;
    color: green;
}
.main-principal-contacto{
    background: #10151A;
    padding: 2rem;
}
.main-contacto, .main-servises{
    display: flex;
    width: 90%;
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    overflow: hidden;
}
.main-contacto-div, .main-services-info{
    display: grid;
    width: 60%;
    padding: 0rem;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    gap: 2rem;
}
.main-services-info div{
    display: grid;
}
.main-contacto-div h1, .main-services-info h1, .main-fute-page-services h2{
    text-align: center;
    font-size: 4.2vh;
    padding: 2rem 0;
}
.main-contacto-div p, .main-services-info p, .main-fute-page-services p{
    font-size: 1.9vh;
    font-weight: 700;
    text-align: justify;
}
.main-contacto-div p{
    color: #FFFFFF;
}
.main-fute-page-services{
    display: grid;
    gap: 1rem;
    margin: 5rem;
    padding: 3rem 7rem;
    text-align: center;
}
.main-fute-page-services h2{
    font-size: 4vh;
}
.accordion{
    --bs-accordion-bg: #d4d4d44b;
}
.accordion-item, .accordion-button{
    border-radius: 20px !important;
    border: 1px solid #FFFFFF;
    /* color: #fff; */
}
.collapse{
    justify-content: flex-start;
}
.clas-img-div{
    display: grid;
    justify-items: center;
    padding: 1rem;
}
.img-contacto{
    display: grid;
    justify-content: center;
    width: 80vh;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 1px #1F2937;
}
.section-contacto{
    display: grid;
    width: 100%;
    justify-items: center;
    padding: 2rem;
    color: #1F2937;
}
.section-contacto h3{
    font-size: 8vh;
    font-weight: 700;
}
.section-contacto p{
    font-size: 6vh;
    color: #1F2937;
    font-weight: 500;
}
.services-in-home{
    width: 100%;
    margin: 4rem 0;
    padding: 3rem 0rem;
    display: grid;
    gap: 2.3rem;
    text-align: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    overflow: hidden;
}
.cart-services-uno{
    width: 85%;
    display: flex;
    border: 1px solid #FF6B6B;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: auto;
    justify-content: space-between;
}
.cart-services-imag{
    width: 15rem;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 1rem;
}
.cart-services-imag img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 1px #1F2937;
    &:hover{
        transform: translateX(20px);
        box-shadow: 0px 0px 0px 0px #1F2937;
    }
}
.cart-services-info-text{
    display: grid;
    width: 70%;
    text-align: left;
    margin: 0.5rem;
    font-size: 1.8vh;
}
.cart-services-info-text h2{
    font-size: 3vh;
}
.cart-services-butons{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}
.butonEsp{
    text-decoration: none;
    color: #1F2937;
    width: 23%;
    height: 2.5rem;
    display: grid;
    justify-self: center;
    align-items: center;
    justify-items: center;
    margin: 0.9rem;
    background: #3ABEFF;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    transition: 500ms;
    box-shadow: 2px 2px 0px 0px #B388EB;
    &:hover{
        background: #FF6B6B;
        color: #FFFFFF;
        box-shadow: 2px 2px 0px 0px #3ABEFF;
        transform: translate(2px, 3px);
    }
}
.banner-portafolio{
    background-image: url('/img/calides-de-pie.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    justify-items: center;
}
.banner-portafolio-title{
    text-align: center;
    background: #1f293765;
    display: grid;
    justify-items: center;
    color: #FF6B6B;
    width: 80%;
    border-radius: 10px;
    padding: 2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); 
}
.banner-pag-servces{
    width: 100%;
    height: 60vh;
    margin: 0 0 5rem 0;
}
.banner-pag-servces img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-portafolio-text{
    background: #1f293765;
    display: grid;
    justify-items: center;
    color: #FF6B6B;
    width: 80%;
    border-radius: 10px;
    font-size: 3.3vh;
    padding: 2rem;
}
.banner-portafolio-text p{
    color: #FFFFFF;
}
.banner-portafolio-button{
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: right;
    justify-items: right;
    justify-self: center;
}
.banner-portafolio-button a{
    justify-self: right;
}
.info-pryect{
    display: flex;
    width: 100%;
}
.info-pryect-text, .info-pryect-button{
    padding: 1rem;
    width: 40rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-pryect-text h2{
    font-size: 5.2vh;
}
.info-pryect-text p{
    font-size: 3.3vh;
    text-align: center;
}
.info-pryect-button a, .main-services-info a{
    width: 100%;
    margin: 5rem;
}
.pag-service{
    padding: 2.5rem 0rem;
}
.pag-service section{
    color: #FFFFFF;
}
.main-services-info{
    padding: 1rem;
    padding: 0 3rem;
}
.main-services-info ul{
    padding: 0 3rem;
}
.main-services-info ul li{
    padding: 0.3rem;
    list-style-type: disc;
}
.main-services-info ul li b{
    text-decoration: underline;
}
.main-services-info h2{
    text-align: center;
    font-size: 4.5vh;
}
.img-services, .img-services img{
    display: grid;
    width: 60vh;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 10px;
}
.img-services img{
    box-shadow: 2px 3px 5px 1px #1F2937;
}
.seccion-serviceses{
    width: 95%;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    justify-self: center;
    gap: 2rem;
    overflow: hidden;
}
.seccion-serviceses .cart-services-imag{
    width: 17rem;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.seccion-serviceses .cart-services-imag img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 1px #1F2937;
    &:hover{
        transform: translateX(0px) scale(1.05);
        box-shadow: 0px 0px 0px 0px #1F2937;
    }
}
.seccion-serviceses .cart-services-info-text{
    display: grid;
    width: 65%;
    text-align: left;
    margin: 0.5rem;
}
.seccion-serviceses .cart-services-info-text h2{
    font-size: 3vh;
}
.seccion-serviceses .cart-services-info-text p{
    font-size: 1.9vh;
}
.section-servicios-text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main-services-div{
    display: grid;
    width: 90vh;
    justify-items: center;
    padding: 1rem;
}
.main-services-div p{
    font-size: 2vh;
    text-align: center;
    margin: 1.5rem 0;
}
.main-services-div-buton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
}
.main-services-div-buton a{
    width: 80%;
}
.img-pie-pag{
    display: grid;
    justify-items: center;
    margin: 2rem auto;
}
.img-pie-pag img{
    width: 30%;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 1px #1F2937;
}
.pag-landing{
    background: #F4F5F6;
    padding: 2.5rem 0rem;
    display: grid;
}
.politicasDePrivacidad{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem;
    font-size: 3vh;
    text-align: justify;
}
.politicasDePrivacidad h1, .politicasDePrivacidad h2{
    font-size: 4vh;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
}
.politicasDePrivacidad ul{
    list-style: inside;
    padding: 1rem 2rem;
}
.politicasDePrivacidad p a img{
    width: 3rem;
}
.blogs-tarjet{
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    padding: 4rem;
    justify-items: center;
    justify-self: center;
    justify-content: space-between;
    background-image: url('/img/imagenHambiental.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    mask-repeat: no-repeat;
    mask-size: cover;
}
.tarjet-blog{
    width: 45vh;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid #10151A;
    text-align: center;
    list-style: none;
    text-decoration: none !important;
    display: grid;
    gap: 1rem;
    box-shadow: 4px 4px 10px 2px #1F2937;
    background: #FFFFFF;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0px 6px 5px 0px #1F2937;
    }

}
.tarjet-blog img{
    width: 40vh;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.tarjet-blog h2{
    font-size: 3.5vh;
}
.div-baner-img{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    width: 100%;
    height: 40vh; /* altura fija */
    overflow: hidden;
}
.div-baner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-body{
    padding: 3rem 13rem;
    font-size: 4vh;
    text-align: justify;
}
.blog-body h1, .blog-body h2{
    font-size: 4vh;
    padding: 2rem 0;
}
.blog-body h3{
    font-size: 3vh;
}
.blog-body p{
    font-size: 2vh;
}
.blog-body ul{
    padding: 0 5rem;
}
.blog-body ul li{
    list-style: decimal;
    font-size: 2vh;
}
.padContend{
    padding: 2rem;
}
.navRuts>ol>li>a:hover{
    color: #00000070;
    transition: 300ms;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
}
@media (min-width: 748px) and (max-width: 1025px){
    footer{
        font-size: 3vh;
    }
    .nav-var-expain .navbar-nava{
        display: none;
    }
    .navbar-toggler{
        display: initial;
    }
    .nav-item{
        margin: 0 1rem;
        width: auto;
        text-align: center;
    }
    .nav-link{
        font-size: 3vh;
    }
    .seccion-img-perfil > img{
        border-radius: 15px;
        width: 70%;
        justify-self: center;
        justify-content: center;
        justify-items: center;
        display: flex;
        align-items: center;
    }
    .seccion-info-perfil{
        font-size: 2vh;
        width: 100%;
        padding: 0 0rem;
        margin: 0 auto;
    }
    .seccion-info-perfil >h1, .seccion-info-perfil >h2{
        font-size: 3vh;
    }
    .seccion-info-perfil > p{
        font-size: 2vh;
        margin: 1.5rem 0;
    }
    .cartTipUno{
        width: 80%;
        border-radius: 20px;
        padding: 0.5rem;
    }
    .cartTipUno > h2{
        font-size: 3vh;
    }
    .cartTipoPrecio > p{
        font-size: 3.5vh;
    }
    .cartTipoPrecio > span{
        font-size: 1.5vh;
    }
    .cartTipDos{
        width: 85%;
        border-radius: 20px;
        padding: 0.5rem;
    }
    .cartTipDos > h2{
        font-size: 4vh;
    }
    .planes > .carts-div{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1rem;
        padding: 1rem 0;
    }
    form > .formulario-div{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        justify-items: baseline;
    }
    .first-seccion{
        display: grid;
        gap: 1rem;
        margin: 1rem 0;
        width: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .inpud-text{
        width: 100%;
    }
    .main-contacto-div, .main-services-info{
        width: 75vh;
    }
    .main-servises{
        display: flex;
        padding: 1rem 0rem;
        gap: 0rem;
    }
    .main-services-info{
        width: 75%;
        padding: 0 0.83rem;
    }
    .main-services-info a{
        margin: 2rem;
    }
    .main-contacto-div h1, .main-contacto-div h2, .main-services-info h1, .main-services-info h2{
        text-align: center;
        font-size: 2.5vh;
        font-weight: 600;
    }
    .main-contacto-div p, .main-services-info p, .main-services-info ul li, .main-services-info h3 button{
        font-size: 1.5vh;
    }
    .main-services-info ul li{
        font-weight: 700;
    }
    
    .cart-services-uno{
        padding: 1rem;
    }
    .cart-services-imag{
        width: 18rem;
        margin: 1rem;
    }
    .cart-services-info-text{
        width: 60vh;
    }
    .cart-services-info-text p{
        font-size: 2vh;
    }
    .cart-services-butons{
        margin-top: 0.5rem;
    }
    .butonEsp{
        width: 33%;
        height: 2.5rem;
    }
    .seccion-serviceses{
        width: 95%;
        gap: 2rem;
    }
    .seccion-serviceses .cart-services-imag{
        width: 11rem;
    }
    .seccion-serviceses .cart-services-imag img{
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 3px 5px 1px #1F2937;
        &:hover{
            transform: translateX(0px);
            box-shadow: 0px 0px 0px 0px #1F2937;
        }
    }
    .seccion-serviceses .cart-services-info-text{
        display: grid;
        width: 50%;
        text-align: left;
        margin: 0.5rem;
    }
    .seccion-serviceses .cart-services-info-text h2{
        font-size: 3vh;
    }
    .seccion-serviceses .cart-services-info-text p{
        font-size: 2vh;
    }
    .padContend{
        padding: 1.5rem;
    }
    .blogs-tarjet{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        padding: 4rem;
    }
    .tarjet-blog{
        width: 30vh;
        padding: 1rem;
        display: grid;
        gap: 1rem;

    }
    .tarjet-blog img{
        width: 20vh;
        height: 20vh;
    }
    .tarjet-blog h2{
        font-size: 2vh;
    }
    .banner-pag-servces{
        height: 30vh;
        margin: 0 0 5rem 0;
    }
}
@media (max-width: 747px){
    .nav-var-expain .navbar-nava{
        display: none;
    }
    .navbar-toggler{
        display: initial;
    }
    .nav-item{
        margin: 0 1rem;
        width: auto;
        text-align: center;
    }
    .nav-link{
        font-size: 2vh;
    }
    .iconsLogo{
        width: 6vh;
    }
    footer{
        font-size: 1.4rem;
        display: grid;
        text-align: center;
        justify-items: center;
        gap: 2rem;
    }
    .footer-info{
        justify-items: center;
    }
    .form-control1{
        width: 4vh;
        height: 4vh;
        border: 2px solid #333;
        border-radius: 4px;
    }
    .footer-icons > a{
        padding: 0 0.5rem;
        width: 15%;
    }
    .first-seccion{
        display: grid;
        padding: 1rem 0;
        margin: 5rem 0;
        width: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .seccion-img-perfil > img{
        border-radius: 10px;
        width: 75%;
        justify-self: center;
        justify-content: center;
        justify-items: center;
        display: flex;
        align-items: center;
    }
    .seccion-info-perfil{
        width: 100%;
        padding: 0 1rem;
        justify-self: center;
    }
    .seccion-info-perfil >h1, .seccion-info-perfil >h2{
        font-size: 3vh;
        margin: 1rem 0;
    }
    .seccion-info-perfil > p{
        font-size: 2vh;
        margin: 1.5rem 0;
    }
    .desarrollos > h2, .desarrollos > h1{
        font-size: 2vh;
        width: 95%;
    }
    .footer-sitio{
        width: 8rem;
    }
    .planes{
        padding: 0rem;
    }
    .planes > .carts-div{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
    }
    .carts-div{
        gap: 0.5rem;
        padding: 0rem;
        justify-content: center;
        max-width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
    .carts{
        width: 95%;
        border-radius: 10px;
    }
    .carts > h2{
        font-size: 3vh; 
    }
    .carts > p{
        display: none;
    }
    .planes > h3{
        font-size: 3vh;
        padding: 0 1rem;
    }
    .cartTipUno{
        width: 65%;
        border-radius: 20px;
        padding: 1rem;
    }
    .cartTipUno > h2{
        font-size: 3vh;
    }
    .cartTipoPrecio > p{
        font-size: 4vh;
    }
    .cartTipoPrecio > span{
        font-size: 1.5vh;
    }
    .cartTipDos{
        width: 70%;
        border-radius: 15px;
        padding: 0.5rem;
    }
    .cartTipDos > h2{
        font-size: 4vh;
    }
    .cartTipoLista > ul, .cartTipoListaB > ul{
        justify-items: left;
        justify-content: left;
        justify-self: left;
        display: grid;
        text-align: left;
    }
    form > .formulario-div{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        justify-items: baseline;
    }
    .inpud-text{
        width: 100%;
    }
    .formulario-buton > button{
        border-radius: 5px;
        width: 45%;
    }
    .main-contacto, .main-servises{
        display: grid;
        width: 95%;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
    .main-servises{
        gap: 1rem;
    }
    .main-contacto-div, .main-services-info{
        width: 45vh;
        gap: 0rem;
    }
    .main-services-info div{
        gap: 0rem;
    }
    .main-contacto-div h1, .main-contacto-div h2, .main-services-info h1{
        text-align: center;
        font-size: 2.8vh;
    }
    .main-contacto-div p, .main-services-info p, .main-services-info ul li, .main-services-info h3 button{
        font-size: 1.9vh;
    }
    .main-services-info ul li{
        font-weight: 700;
    }
    .main-services-info ul{
        padding: 0 1rem;
    }
    .clas-img-div{
        display: grid;
        justify-items: center;
        padding: 1rem;
    }
    .img-contacto{
        display: grid;
        justify-content: center;
        width: 40vh;
        border-radius: 10px;
        box-shadow: 2px 3px 5px 1px #1F2937;
    }
    .section-contacto{
        padding: 1rem;
    }
    .section-contacto h3{
        font-size: 6vh;
    }
    .section-contacto p{
        font-size: 3.5vh;
        text-align: center;
    }
    .services-in-home{
        padding: 1rem;
        display: grid;
    }
    .cart-services-uno{
        display: grid;
        padding: 0rem;
    }
    .cart-services-imag{
        width: 10rem;
        display: grid;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        margin: 1rem;
    }
    .cart-services-info-text{
        width: 100%;
        margin: auto;
        padding: 0.9rem;
    }
    .cart-services-butons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .cart-services-info-text p{
        font-size: 2vh;
    }
    .butonEsp{
        width: 40%;
        height: 2.5rem;
    }
    .banner-portafolio{
        background-image: url('/img/calides-de-pie.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding: 1rem;
        display: grid;
        gap: 1rem;
        justify-items: center;
    }
    .banner-portafolio-title{
        text-align: center;
        display: grid;
        justify-items: center;
        width: 100%;
        border-radius: 10px;
        padding: 1rem;
    }
    .banner-portafolio-text{
        display: grid;
        justify-items: center;
        width: 100%;
        border-radius: 10px;
        font-size: 3vh;
        padding: 1rem;
    }
    .banner-portafolio-button{
        width: 100%;
        padding: 0rem;
    }
    .info-pryect{
        display: grid;
        justify-content: center;
        justify-self: center;
    }
    .info-pryect-text, .info-pryect-button{
        padding: 0rem;
        width: 100%;
    }
    .info-pryect-text h2{
        font-size: 5.2vh;
    }
    .info-pryect-text p{
        font-size: 3.3vh;
    }
    .info-pryect-button a, .main-services-info a{
        width: 100%;
        margin: 2rem;
    }
    .main-services-info{
        padding: 0rem;
    }
    .seccion-serviceses{
        width: 90%;
        gap: 1rem;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-items: center;
    }
    .seccion-serviceses .cart-services-imag{
        width: 50%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
    }
    .seccion-serviceses .cart-services-info-text{
        display: grid;
        width: 90%;
        text-align: left;
        margin: 0.5rem;
    }
    .seccion-serviceses .cart-services-info-text h2{
        font-size: 3vh;
    }
    .seccion-serviceses .cart-services-info-text p{
        font-size: 2vh;
    }
    .section-servicios-text{
        display: grid;
        width: 95%;
        justify-content: center;
        justify-self: center;
        align-items: center;
        padding: 1rem;
    }
    .main-services-div{
        display: grid;
        width: 45vh;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        padding: 1rem;
        text-align: center;
    }
    .main-services-div p{
        font-size: 2vh;
        text-align: center;
        margin: 1.5rem 0;
    }
    .pag-landing{
        gap: 1.5rem;
    }
    .img-service-landing{
        width: 85% !important;
        justify-self: center;
    }
    .img-services{
        width: 95%;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        display: grid;
    }
    .main-fute-page-services{
        gap: 1rem;
        padding: 1rem;
        text-align: justify;
    }
    .main-fute-page-services h2{
        font-size: 3vh;
    }
    .politicasDePrivacidad{
        padding: 1rem;
    }
    .background-imag{
        padding: 2rem 0;
        -webkit-mask-image: linear-gradient(to bottom, transparent, black 2%, black 98%, transparent);
        mask-image: linear-gradient(to bottom, transparent, black 2%, black 98%, transparent);
    }
    .background-imag h3{
        color: #fff; /* asegura contraste */
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); /* sombra negra difusa */
    }
    .carousel-inner{
        justify-self: center;
        width: 100%;
        border-radius: 25px;
    }
    .carousel-item{
        height: 30vh !important;
    }
    .carousel-caption{
        border: 1px solid #10151A;
        background: #1f2937af;
        border-radius: 20px;
    }
    .carousel-caption h2{
        font-size: 3vh;
    }
    .carousel-caption p{
        font-size: 2vh;
    }
    .blog-body{
        padding: 1rem 1rem;
        font-size: 3vh;
    }
    .blog-body h2{
        font-size: 4vh;
        padding: 1rem 0;
    }
    .blog-body ul{
        padding: 0 2rem;
    }
    .blogs-tarjet{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
    .tarjet-blog{
        width: 30vh;
        padding: 1rem;
        display: grid;
        gap: 1rem;

    }
    .tarjet-blog img{
        width: 20vh;
        height: 20vh;
    }
    .tarjet-blog h2{
        font-size: 2vh;
    }
    .padContend{
        padding: 1.5rem;
    }
    .navRuts>ol>li>a:hover{
        color: #00000070;
        transition: 300ms;
    }
    .banner-pag-servces{
        height: 19vh;
        margin: 0 0 1rem 0;
    }
}